section.app {
  display: grid;
  margin: 2% 0;
  grid-gap: 1%;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  place-items: center;
  background-color: #f0fefb;
  min-height: 100vh;
  cursor: pointer;
}

@media (max-width: 1179px) {
  section.app {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 889px) {
  section.app {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 599px) {
  section.app {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
